$body-background-color: linear-gradient(51deg, #44baca, #2573c3);
$page-padding: 15px;
$max-page-width: 1920px;
$header-height: 92px;
$nav-height: 92px;
$sidebar-divider:  1px solid #d8d8d821;

$font-size-small: 0.833rem;
$font-size-default: 14px;
$font-size-default-mobile: 16px;
$font-size-large: 1.333px;


