* {
  box-sizing: border-box;
}

html {
  font-size: 12px;
  font-family: 'Kerola', Arial, Helvetica, sans-serif;
  font-weight: 600;
}

body {
  margin: 0;
  padding: 0;
  background-color: #F8F8F9;
}

h1 {
  font-size: 3rem;
}

h1, h2, h3, h4, ul, ol, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul, li{
  list-style: none;
}

.grid{
  display: grid;
}

.flex{
  display: flex;
}

.wrapper{
  grid-template-columns: 1fr 10fr 1fr;
  grid-template-rows: 1fr;  
}

.wrapper-container{
  grid-column: 2 / span 1;
  grid-template-rows: minmin(120px, auto);
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  grid-template-areas: "Header Header"
                       "Caption Caption"
                       "Map Map"
                       "News News"
                       "Slider Slider"
                       "Carrier Carrier"
                       "Footer Footer";
}

.main-header{
  grid-area: Header;
}

.caption{
  grid-area: Caption;
}

.map{
  grid-area: Map;
}

.news{
  grid-area: News;
}

.slider{
  grid-area: Slider;
}

.carrier{
  grid-area: Carrier;
}

.main-footer{
  grid-area: Footer;
}




/* 4K */
@media only screen and (min-width : 2560px){

}

/* Laptop L */
@media only screen and (min-width : 1440px){

}

/* Laptop */
@media only screen and (min-width : 1024px){

}

/*Tablet*/
@media only screen and (min-width : 768px){

}

/*Moblie L*/
@media only screen and (min-width : 425px){

}

/*Moblie M*/
@media only screen and (min-width : 375px){

}

/*Moblie S*/
@media only screen and (min-width : 320px){

}


